body{
   background-color:rgba(213, 10, 7, 0.875) ;
color: rgb(27, 64, 107);
   font-family: "Inter", sans-serif;
   margin: 0px;
}
header{
   font-size: 40px; 
   border-bottom:  double  5px rgb(109, 13, 5);
   text-align: center;
   /*margin: 30px;*/
   padding: 30px;
   color: black;
}

h1{
    font-size: 30px;
    color: black;
}

p{
    font-size: 20px;
}

section{
background-color: rgb(19, 139, 238);
padding-bottom: 80px;
display: flex;
justify-content: center;
}
.chamada-texto{
  margin-right: 10%;
}

