body{
   background-color:rgba(219, 157, 227, 0.737) ;
color: rgb(89, 158, 237);
   font-family: "Inter", sans-serif;
   margin: 0px;
}
header{
   font-size: 40px; 
   border-bottom:  double  5px rgb(230, 84, 108);
   text-align: center;
   /*margin: 30px;*/
   padding: 30px;
   color: black;
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

section{
background-color: rgb(178, 184, 189);
padding-bottom: 80px;
display: flex;
justify-content: center;
}
.chamada-texto{
  margin-right: 10%;
}

